@model IEnumerable<Seminar_algebra.Models.Predbiljezba>

@{
    ViewBag.Title = "upisi";
}

<h2>Upisi</h2>
<p>
    @using (Html.BeginForm("upisi", "Seminari", FormMethod.Get))
    {
    <p>
        Seminar: @Html.DropDownList("odabirSeminara", "Svi")
        Status:  @Html.DropDownList("statusOdobrenja", "Svi")

        <input type="submit" value="Filter" />
    </p>
}
    </p>


    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mjesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkSeminar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mjesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seminar.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { id = item.IdPredbiljezba }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.IdPredbiljezba }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.IdPredbiljezba })
                </td>
            </tr>
        }

    </table>
